[Unit]
Description=Gamers Bot Service
After=network.target

[Service]
ExecStart=/opt/gamersbot_release/gamers_bot
#You probably should not use root as the user for running the service
User=root
WorkingDirectory=/opt/gamersbot_release
Group=root
Restart=always
Type=simple
Environment="RUST_LOG=gamers_bot=info"

[Install]
WantedBy=multi-user.target
